block grid
    #grid(ng-model="ctrl.model" , ng-change="ctrl.modelChanged()")
        .row(ng-repeat="line in ctrl.lines")
            .col.s12.m12.L12
                span.point.point-size.blue-grey.lighten-5(
                    ng-repeat="column in ctrl.columns", 
                    id="{{column+line}}", 
                    state="{{ctrl.model[column+line]}}",
                    ng-class="ctrl.updateClass(column+line)",
                    ng-click="ctrl.pointClicked(column+line, $event)", 
                    ng-mouseover="ctrl.pointMouseOver(column+line)")